p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.services__list, .filter__list, .social-media__list, .contact-info__list, .client__list, .social-network__list, .team__list, .about__list, .benefits__list, .contact__network-list, .contact__list, .nav__list {
  list-style-type: none;
}

.services__link, .social-media__link, .contact-info__link, .client__link, .social-network__link, .modal__link, .contact__network-link, .contact__link, .nav__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__link:hover, .social-media__link:hover, .contact-info__link:hover, .client__link:hover, .social-network__link:hover, .modal__link:hover, .contact__network-link:hover, .contact__link:hover, .nav__link:hover,
.services__link:focus,
.social-media__link:focus,
.contact-info__link:focus,
.client__link:focus,
.social-network__link:focus,
.modal__link:focus,
.contact__network-link:focus,
.contact__link:focus,
.nav__link:focus {
  color: #2196f3;
}

.conteiner, .services, .filter, .conteiner-footer, .conteiner-header {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner, .services, .filter, .conteiner-footer, .conteiner-header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner, .services, .filter, .conteiner-footer, .conteiner-header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner, .services, .filter, .conteiner-footer, .conteiner-header {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .products, .client, .team, .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .products, .client, .team, .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title, .team__title, .about__title, .benefits__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .client__title, .team__title, .about__title, .benefits__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title, .team__title, .about__title, .benefits__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
  margin: 0px auto;
}

@media screen and (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
}

.header {
  border-bottom: #ececec solid 1px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.conteiner-header {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .conteiner-header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .menu ~ .menu__btn .menu__close {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .menu ~ .menu__btn .menu__open {
    display: none;
  }
}
.menu ~ .menu__btn:focus .menu__icon, .menu ~ .menu__btn:hover .menu__icon {
  fill: #2196f3;
}
@media screen and (max-width: 767px) {
  .menu {
    background: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 768px) {
  .menu.is-hidden {
    opacity: 1;
    pointer-events: auto;
  }
}
@media screen and (max-width: 767px) {
  .menu.is-hidden ~ .menu__btn .menu__close {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu.is-hidden ~ .menu__btn .menu__open {
    display: block;
  }
}

.menu__btn {
  position: relative;
  z-index: 2;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__icon {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .nav__logo {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    font-size: 24px;
    line-height: 1.1666666667;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    font-size: 26px;
    line-height: 1.1923076923;
    margin-right: 93px;
  }
}
.nav__logo--blue {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    gap: 50px;
    margin-right: 97px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
    gap: 50px;
    margin-right: 318px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--current {
    position: relative;
  }
  .nav__link--current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    transform: translateY(33.5px);
    border-radius: 2px;
    background: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contact__list {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contact__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
    gap: 30px;
  }
}

.contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.1666666667;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.1428571429;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contact__list .contact__item:nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contact__list .contact__item:nth-child(2) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    margin-bottom: 33px;
  }
  .contact__list .contact__item:nth-child(2) .contact__link {
    color: #2196f3;
  }
}
@media screen and (max-width: 336px) {
  .contact__list .contact__item:nth-child(2) {
    font-size: 32px;
    line-height: 1.25;
  }
}

.contact__email {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contact__email {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact__email {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__email {
    width: 16px;
    height: 12px;
  }
}

.contact__phone {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contact__phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact__phone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__phone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contact__network-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contact__network-list {
    display: none;
  }
}

.contact__network-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contact__network-line {
  width: 0px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/heromob.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/heromob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/herotab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/herotab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px auto 30px;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  margin: 0px auto;
  height: 50px;
  display: block;
  border: 0px;
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .hero__btn {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 216px;
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
}
@media screen and (max-height: 608px) {
  .backdrop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-height: 608px) {
  .backdrop.is-hidden .modal {
    transform: scale(1.1);
  }
}
@media screen and (min-height: 609px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
@media screen and (max-height: 608px) {
  .modal {
    transform: scale(1);
  }
}
@media screen and (min-height: 609px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 30px);
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal__title {
    line-height: 1.5;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
    font-size: 20px;
  }
}
@media screen and (max-width: 330px) {
  .modal__title {
    line-height: 1.5;
    font-size: 19px;
  }
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #212121;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transform: translateX(12px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: #212121;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  border-color: #2196f3;
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.modal__text {
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .modal__text {
    font-size: 12px;
    line-height: 1.1666666667;
    margin-right: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
    line-height: 1.71;
    margin-right: 5px;
  }
}
@media screen and (max-width: 366px) {
  .modal__text {
    font-size: 9.5px;
    line-height: 1.1666666667;
  }
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: transparent;
}
@media screen and (max-width: 1199px) {
  .icon-box {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-box {
    margin-right: 8px;
  }
}
@media screen and (max-width: 366px) {
  .icon-box {
    margin-right: 5px;
  }
}

.modal__check:checked + .modal__policy .icon-box {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}

.modal__link {
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .modal__link {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    line-height: 1.71;
    margin-right: 5px;
  }
}
@media screen and (max-width: 366px) {
  .modal__link {
    font-size: 9.5px;
    line-height: 1.1666666667;
  }
}

.modal__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin: 0px auto;
  display: block;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196f3;
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.no-scroll {
  overflow: hidden;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .benefits__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__icon-bg {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .benefits__icon-bg {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .benefits__icon-bg {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon-bg {
    width: 270px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits__subtitle {
    text-align: center;
  }
}

.about {
  padding-top: 0px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  margin: 0px auto;
  background: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.personal-card {
  padding-top: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1199px) {
  .personal-card {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .personal-card {
    padding-bottom: 30px;
  }
}

.personal-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.personal-card__profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-network__list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-network__link:hover, .social-network__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .client__item {
    width: calc((100% - 30px) / 2);
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
  }
}

.client__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  margin: 0px auto;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .conteiner-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-info {
    margin-right: 177px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-info {
    margin-right: 94px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.1666666667;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo--blue {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .contact-info__list {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .contact-info__item:not(:first-child) {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-info__item:not(:first-child) {
    margin-top: 9px;
  }
}

.contact-info__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}
.contact-info__link--white {
  color: #ffffff;
}
.contact-info__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .social-media {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social-media {
    margin-right: 93px;
  }
}

.social-media__list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .social-media__list {
    justify-content: center;
    justify-items: center;
  }
}

.social-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .social-media__title {
    text-align: center;
  }
}

.social-media__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media__link:hover, .social-media__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .subscription {
    margin-top: 60px;
  }
}

.subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .subscription__text {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
}

.subscription__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .subscription__input {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus {
  border-color: #2196f3;
}

.subscription__btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .subscription__btn {
    margin-top: 20px;
  }
}

.subscription__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .products {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .products {
    padding-bottom: 40px;
  }
}

.filter__list {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .filter__list {
    flex-wrap: wrap;
    justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__item:first-child .filter__btn {
  padding: 6px 25px;
}
.filter__btn:hover, .filter__btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services {
  margin-top: 50px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .services__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .services__item {
    width: 370px;
  }
}

.services__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__link:hover, .services__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.services__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-left: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__link:hover .services__text, .services__link:focus .services__text {
  transform: translateY(0);
}

.info {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.info__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.info__direction {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */