p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.services__list, .filter__list, .social-media__list, .contact-info__list, .client__list, .social-network__list, .team__list, .about__list, .benefits__list, .contact__list, .nav__list {
  list-style-type: none;
}

.services__link, .social-media__link, .contact-info__link, .client__link, .social-network__link, .modal__link, .contact__link, .nav__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services__link:hover, .social-media__link:hover, .contact-info__link:hover, .client__link:hover, .social-network__link:hover, .modal__link:hover, .contact__link:hover, .nav__link:hover,
.services__link:focus,
.social-media__link:focus,
.contact-info__link:focus,
.client__link:focus,
.social-network__link:focus,
.modal__link:focus,
.contact__link:focus,
.nav__link:focus {
  color: #2196f3;
}

.conteiner, .services, .filter, .conteiner-footer, .conteiner-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.products, .client, .team, .benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title, .team__title, .about__title, .benefits__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
  margin: 0px auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: #ececec solid 1px;
}

.conteiner-header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  margin-right: 93px;
}
.nav__logo--blue {
  color: #2196f3;
}

.nav__list {
  display: flex;
  gap: 50px;
  margin-right: 318px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
}

.nav__link--current {
  position: relative;
}
.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  transform: translateY(33.5px);
  border-radius: 2px;
  background: #2196f3;
}

.contact__list {
  display: flex;
  gap: 30px;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact__email {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.contact__phone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px auto;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0px auto 30px;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  margin: 0px auto;
  padding: 10px 32px;
  display: block;
  border: 0px;
  border-radius: 4px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #212121;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transform: translateX(12px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: #212121;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  border-color: #2196f3;
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 5px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
  fill: transparent;
}

.modal__check:checked + .modal__policy .icon-box {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}

.modal__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin: 0px auto;
  display: block;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196f3;
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item {
  width: 270px;
}

.benefits__icon-bg {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about {
  padding-top: 0px;
  padding-bottom: 94px;
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  margin: 0px auto;
  background: #f5f4fa;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.personal-card {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.personal-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.personal-card__profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-network__list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-network__link:hover, .social-network__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client__list {
  display: flex;
  gap: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  margin: 0px auto;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner-footer {
  display: flex;
}

.contact-info {
  margin-right: 94px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}
.logo--blue {
  color: #2196f3;
}

.contact-info__item:not(:first-child) {
  margin-top: 9px;
}

.contact-info__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}
.contact-info__link--white {
  color: #ffffff;
}
.contact-info__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.social-media {
  margin-right: 93px;
}

.social-media__list {
  display: flex;
  gap: 10px;
}

.social-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-media__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media__link:hover, .social-media__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscription__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.subscription__wrap {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus {
  border-color: #2196f3;
}

.subscription__btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}

.subscription__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

.filter__list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__item:first-child .filter__btn {
  padding: 6px 25px;
}
.filter__btn:hover, .filter__btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services {
  margin-top: 50px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__link:hover, .services__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.services__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-left: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__link:hover .services__text, .services__link:focus .services__text {
  transform: translateY(0);
}

.info {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.info__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.info__direction {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */