.about {
    padding-top: 0px;
    padding-bottom: 94px;
}
.about__title {
    @extend %title;
    }
.about__list {
    @extend %list;
    display: flex;
    gap: 30px;
}
.about__item {
    position: relative;
}
.about__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
}
