body {
    font-family: $primary-font-family;
    color: $primari-text-color;
    background: $body-bg-color;
    margin: 0px auto;
}

body.modal-open {
    @media screen and (max-width: 767px) {
        overflow: hidden;
    }
}
