.contact-info {
    @include tablet() {
        margin-right: 177px;
    }
    @include desctop() {
        margin-right: 94px;
    }
}

.logo {
    font-family: $secondary-font-family;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: calc(28 / 24);
        text-align: center;
    }
    @include desctop() {
        font-size: 26px;
        line-height: calc(31 / 26);
    }

    &--blue {
        color: $accent-color;
    }
}
.contact-info__list {
    @extend %list;
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}
.contact-info__item:not(:first-child) {
    @media screen and (max-width: 1199px) {
        margin-top: 8px;
    }
    @include desctop() {
        margin-top: 9px;
    }
}
.contact-info__link {
    @extend %link;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: block;

    &--white {
        color: #ffffff;
    }
    &--grey {
        color: rgba(255, 255, 255, 0.6);
    }
}
