.contact__list {
    @extend %list;
    @include tablet() {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    @include desctop() {
        display: flex;
        gap: 30px;
    }
}
.contact__link {
    @extend %link;
    font-weight: 500;

    letter-spacing: 0.02em;
    color: $secondary-text-color;
    display: flex;
    // flex-wrap: wrap;

    align-items: center;
    @include tablet() {
        font-size: 12px;
        line-height: calc(14 / 12);
        gap: 8px;
    }
    @include desctop() {
        font-size: 14px;
        line-height: calc(16 / 14);
        gap: 10px;
    }
}

.contact__email {
    fill: currentColor;
    @include tablet() {
        width: 14px;
        height: 10px;
    }
    @include desctop() {
        width: 16px;
        height: 12px;
    }
}
.contact__phone {
    fill: currentColor;
    @include tablet() {
        width: 10px;
        height: 14px;
    }
    @include desctop() {
        width: 10px;
        height: 16px;
    }
}
