.hero {
    @media screen and (max-width: 767px) {
        background-image: $gradient, url(../image/heromob.jpg);
        @include size() {
            background-image: $gradient, url(../image/heromob@2x.jpg);
        }
    }
    @include tablet() {
        background-image: $gradient, url(../image/herotab.jpg);
        @include size() {
            background-image: $gradient, url(../image/herotab@2x.jpg);
        }
    }
    @include desctop() {
        background-image: $gradient, url(../image/hero.jpg);
        @include size() {
            background-image: $gradient, url(../image/hero@2x.jpg);
        }
    }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto;
    @media screen and (max-width: 767px) {
        max-width: 480px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @include tablet() {
        max-width: 768px;
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @include desctop() {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero__title {
    font-style: normal;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px auto 30px;

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.62;
        max-width: 360px;
    }
    @include desctop() {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}
.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: $primary-btn-color;
    cursor: pointer;
    margin: 0px auto;
    height: 50px;
    // padding: 10px 32px;
    display: block;
    border: 0px;
    border-radius: 4px;
    @media screen and (max-width: 1199px) {
        width: 200px;
    }
    @include desctop() {
        width: 216px;
    }
}
