.services {
    @extend .conteiner;
    margin-top: 50px;
}
.services__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.services__link {
    @extend %link;
    display: block;
    transition: box-shadow $transition;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.thumb {
    position: relative;
    overflow: hidden;
}
.services__text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-top: 63px;
    padding-left: 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform $transition;

    .services__link:hover &,
    .services__link:focus & {
        transform: translateY(0);
    }
}

.info {
    padding: 20px 24px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.info__project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primari-text-color;
    margin-bottom: 4px;
}
.info__direction {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}
