.social-media {
    margin-right: 93px;
}

.social-media__list {
    @extend %list;
    display: flex;
    gap: 10px;
}

.social-media__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
}

.social-media__link {
    @extend %link;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: $accent-color;
    }
}
.social-media__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
