.subscription__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
}

.subscription__wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.subscription__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    outline: transparent;
    transition: border-color $transition;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: $accent-color;
    }
}

.subscription__btn {
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: $primary-btn-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
}

.subscription__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
}
