.team {
    @extend %section;
    margin: 0px auto;
    background: #f5f4fa;
}
.team__title {
    @extend %title;
}
.team__list {
    @extend %list;
    display: flex;
    gap: 30px;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.personal-card {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
}

.personal-card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: $primari-text-color;
    margin-bottom: 10px;
}
.personal-card__profession {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}
.social-network__list {
    @extend %list;
    display: flex;
    gap: 10px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.social-network__link {
    @extend %link;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: $accent-color;
    }
}
.social-network__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
